{% extends "pc/manager/common/manager_hd.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet/less" href="{% static "css/support.css" %}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/awesome-bootstrap-checkbox.css" %}"/>
    <link rel="stylesheet/less" href="{% static "css/_total.css" %}"/>

    <style>
        .desc {
            color: #2b2b2b;
        }
    </style>
{% endblock %}
{% block content %}

    <script>
        $(document).ready(function () {
            $("#down_btn").click(function (e) {
                $("#down_window").removeClass("hidden");
                $("#down_window").css("top", e.pageY)
                $("#down_window").css("left", e.pageX)
                return false;
            })
            $("#close_btn").on("click", function () {
                $("#down_window").addClass("hidden");
            })
        })

    </script>
    {% include "pc/manager/common/left_nav.html" %}
    <div class="content">
        <table class="table">
            <tr>
                <th style="width: 500px;" id="title">
                    공고명
                </th>
                <th>
                    게시일
                </th>
                <th>
                    기관명
                </th>
                <th>
                    관리자명
                </th>
            </tr>
            {% for q in qs %}
            <tr>
                <td>
                    {{ q.title }}
                </td>
            <td>
                {{ q.update_at }}
            </td>
            <td>
                {{ q.user.department }}
            </td>
            <td>
                {{  q.user.name  }}
            </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
