{% extends "pc/common/base_d.html" %}
{% load static %}
{% load custom_filter %}
{% block css %}
    <link href="{% static "css/index.css" %}" rel="stylesheet/less">

{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <script>
            less.pageLoadFinished.then(
                 setTimeout(function () {
                    console.log('completed');
                    $(".sm_cd_filter_con").each(function () {
                        var overflow_check_flag = true
                        while (overflow_check_flag) {
                            console.log($(this).find(".filter:last").offset().top)
                            console.log($(this).find(".filter:last").height())
                            if ($(this).find(".filter:last").offset().top + $(this).find(".filter:last").height() > $(this).offset().top + $(this).height()) {
                                $(this).find(".filter:last").remove()
                                console.log($(this).find(".filter").text())
                            } else {
                                overflow_check_flag = false
                            }
                        }
                    })
                },1000)
            );


            $(document).ready(function () {


                var url = location.href
                console.log(url.indexOf("accel"))
                if (url.indexOf("finance") != -1) $("#bussiness").text("자금지원")
                if (url.indexOf("accel") != -1) $("#bussiness").text("엑셀러레이팅&투자연계")
                if (url.indexOf("edu") != -1) $("#bussiness").text("교육")
                if (url.indexOf("channel") != -1) $("#bussiness").text("판로")
                if (url.indexOf("network") != -1) $("#bussiness").text("네트워킹")
                if (url.indexOf("space") != -1) $("#bussiness").text("공간지원")
                if (url.indexOf("etc") != -1) $("#bussiness").text("기타지원")
                if (url.indexOf("piching") != -1) $("#bussiness").text("피칭")

                {% if user.additionaluserinfo.auth != "4" and   user.additionaluserinfo.auth != "5" %}
                    $(".int").on("click", function () {
                        var target = this
                        $.ajax({
                            url: '../../add_interest/',
                            method: "post",
                            data: {"val": $(target).attr("data-id")},
                            success: function (data) {
                                  if (data==="ok-add"){
                                    $("div[data-id='" + $(target).attr("data-id") + "']").find("img").attr("src", "{% static "img/icon-fav-full@2x.png" %}")
                                     alert("관심 목록에 등록되었습니다.");
                                }
                                else {
                                    $("div[data-id='" + $(target).attr("data-id") + "']").find("img").attr("src", "{% static "img/icon-fav-none.png" %}")
                                     alert("관심 목록에서 제외되었습니다.");
                                }
                                return false;
                            },
                            error: function (e) {
                                console.log(e);
                            }
                        })
                        return false;
                    })
                {% endif %}


                try {
                    var filter_url_list = getParameter("filter").split(",")
                    for (var k = 0; k < filter_url_list.length; k++) {
                        $("span[data-id='" + filter_url_list[k] + "']").addClass("on");
                    }
                }
                catch (e) {
                    console.log(e)
                }
                $("td > .filter").on("click", function () {
                    console.log(absolute_url)
                               if($(this).attr("data-case")!=""){
                            $("."+$(this).attr("data-case")).removeClass("on")
                        }
                    if ($(this).hasClass("on")) {
                        $(this).removeClass("on")
                    } else {
                        $(this).addClass("on")
                    }
                    var filter_list = []
                    for (var k = 0; k < $(".on").length; k++) {
                        filter_list.push($(".on:eq(" + k + ")").attr("data-id"))
                        console.log($(".on:eq(" + k + ")").attr("data-id"))
                    }
                    $("#filter_list").val(filter_list.join(","))
                    console.log(filter_list.join(","))

                })
                $("#close_btn").on("click", function () {
                    $("#filter_wnd").addClass("hidden");
                })
                $("#filter_cursor").on("click", function () {
                    $("#filter_wnd").removeClass("hidden");
                })
                for (var k = 0; k < $(".sb_num").length; k++) {
                    $(".sb_num:eq(" + k + ")").text($(".sb_num:eq(" + k + ")").parent().parent().find(".sm_cd_a").length);
                    $(".sb_num:eq(" + k + ")").parent().parent().find(".sm_cd_a:eq(0)").addClass("cd");
                    $(".sb_num:eq(" + k + ")").parent().parent().find(".sm_cd_a:eq(1)").addClass("cd");
                    $(".sb_num:eq(" + k + ")").parent().parent().find(".sm_cd_a:eq(2)").addClass("cd");
                    $(".sb_num:eq(" + k + ")").parent().parent().find(".sm_cd_a:eq(0)").removeClass("hidden");
                    $(".sb_num:eq(" + k + ")").parent().parent().find(".sm_cd_a:eq(1)").removeClass("hidden");
                    $(".sb_num:eq(" + k + ")").parent().parent().find(".sm_cd_a:eq(2)").removeClass("hidden");
                    $(".sb_num:eq(" + k + ")").parent().parent().find(".sm_cd_a:eq(2)").css("margin-right", "0");
                    $(".sb_num:eq(" + k + ")").parent().parent().find(".sm_l_a:eq(0)").addClass("lst");
                    $(".sb_num:eq(" + k + ")").parent().parent().find(".sm_l_a:eq(1)").addClass("lst");
                    $(".sb_num:eq(" + k + ")").parent().parent().find(".sm_l_a:eq(2)").addClass("lst");
                    if ("final" === "{{ final }}") {
                        $(".sb_num:eq(0)").parent().parent().find(".sm_cd_a").addClass("cd");
                        $(".sb_num:eq(0)").parent().parent().find(".sm_l_a").addClass("lst");
                        $(".cd").removeClass("hidden")
                        $(".lst").addClass("hidden")
                    }
                }
                var status = "card"
                $("#list").on("click", function () {
                    $(".cd").addClass("hidden");
                    $(".lst").removeClass("hidden")
                    $("#card>img").attr("src", "{% static "img/icon_card_gray.png" %}")
                    $("#list>img").attr("src", "{% static "img/icon_list.png" %}")
                    status = "list"
                })
                $("#card").on("click", function () {
                    $(".cd").removeClass("hidden");
                    $(".lst").addClass("hidden")
                    $("#list>img").attr("src", "{% static "img/icon_list_gray.png" %}")
                    $("#card>img").attr("src", "{% static "img/icon_card.png" %}")
                    status = "card"
                })
                $(".span_btn").on("click", function () {
                    if ("final" == "{{ final }}") {
                        console.log("asd.kfa;lskdj")
                        if (status == "card") {
                            console.log(this)
                            console.log($(this).parent().parent().find(".sm_cd_a"))
                            $(this).parent().parent().find(".sm_cd_a").addClass("cd")
                            $(this).parent().parent().find(".sm_l_a").addClass("lst")
                            $(this).parent().parent().find(".sm_cd_a").removeClass("hidden")
                            $(this).remove()
                        }
                        else {
                            $(this).parent().parent().find(".sm_l_a").removeClass("hidden")
                            $(this).remove()
                        }
                        return false
                    }
                })

                $("#save").on("click", function () {
                    $.ajax({
                        url: '../../save_filter/',
                        method: "post",
                        data: {"val": $("#filter_list").val(), "em": $("#range_01").val()},
                        success: function (data) {
                            alert("저장되었습니다.")
                            location.href = absolute_url
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    })
                })

                var filter_string = "{{ filter_string }}"
                console.log(filter_string)
                for (var k = 0; k < filter_string.split(",").length; k++) {
                    $("span[data-id='" + filter_string.split(",")[k] + "']").addClass("on")
                }
                for (var k = 0; k < $(".sb_row").length; k++) {
                    console.log($(".sb_row:eq(" + k + ")").find(".sm_cd").length)
                    if ($(".sb_row:eq(" + k + ")").find(".sm_cd").length === 0) {
                        console.log("asdfasdf")
                        $(".sb_row:eq(" + k + ")").addClass("hidden")
                    }

                }

            })
        </script>
        {#로그인 한 상태#}
        <div class="row" style="background-color: #1b66f4; height:80px;">
            <div class="container" id="hd_banner">
                <span id="filter_cursor">나에게 맞는</span> <span id="bussiness">지원</span>사업은&nbsp;
                <div><span id="num_sc_con">0</span>
                </div>
                <input type="hidden" id="filter_list">
                개 입니다.
            </div>
        </div>
        {% include 'pc/common/matching_filter.html' %}
        <script>
            var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');
            $('#num_sc_con').animateNumber(
                {
                    number: {{ sb_total }},
                    numberStep: comma_separator_number_step
                }, 3000
            );
        </script>

        {% for res in result.fs %}
            <div class="row sb_row">
                <div class="container sb_container">
                    <div class="sb_ttl">
                        <span>{{ res.name }}</span>(<span class="sb_num">0</span>)
                        <a class="span_btn" href="{{ request.path }}{{ res.id }}"><img class="view_detail"
                                                                                       src="{% static "img/icon_plus.png" %} "></a>
                    </div>
                    <div class="sb_con">
                        {% for qs in result.qs %}
                            {% for f in qs.filter.all %}
                                {% if  f.name  == res.name %}
                                    <a href="{{ qs.get_absolute_url }}" class="sm_cd_a hidden">
                                        <div class="sm_cd">
                                            <div class="sm_cd_hd">
                                                <span>{{ qs.title|truncatechars:22 }}</span>
                                                <div data-id="{{ qs.id }}" class="int">{% if qs in interest %}
                                                    <img
                                                            src="{% static "img/icon-fav-full@2x.png" %}"
                                                            style="width: 24px;cursor: pointer">
                                                {% else %}
                                                    <img
                                                            src="{% static "img/icon-fav-none.png" %}"
                                                            style="width: 24px;cursor: pointer">
                                                {% endif %}</div>
                                            </div>
                                            <div class="sm_cd_con">
                                                <div class="sm_cd_cp">
                                                    <img class="sm_img"
                                                         src="{% static "img/icon-main-"|add:qs.icon_set|add:"-sp.png" %}">
                                                    <div class="sm_ttl">
                                                        {{ qs.short_desc }}
                                                    </div>
                                                </div>
                                                <div class="sm_detail">
                                                    <div class="sm_detail_hd">
                                                        <img class="cal" src="{% static "img/ic-cal-dim.png" %}">
                                                        <div class="due_date">{{ qs.apply_end|date:"Y n d"|calc_day }}<span>{{ qs.is_past_due }} </span>
                                                              <span class="d_day">{{ qs.apply_end|date:"Y n d"|calc_d_day }}</span>
                                                        </div>
                                                        <div class="view_cnt">
                                                            <img class="view_cnt_ic"
                                                                 src="{% static "img/ic_visibility.png" %}">
                                                            <div>{{ qs.hit }}</div>
                                                        </div>
                                                    </div>
                                                    <div class="sm_cd_filter_con">
                                                        {% for f in qs.filter.all|slice:":6" %}
                                                            <span class="filter">{{ f.name }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="loc">
                                                    {{ qs.user.department }}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="{{ qs.get_absolute_url }}" class="sm_l_a hidden">
                                        <div class="sm_l">
                                            <div class="sm_f">
                                                <div class="int" data-id="{{ qs.id }}">{% if qs in interest %}
                                                    <img
                                                            src="{% static "img/icon-fav-full@2x.png" %}"
                                                            style="width: 24px;cursor: pointer">
                                                {% else %}
                                                    <img
                                                            src="{% static "img/icon-fav-none.png" %}"
                                                            style="width: 24px;cursor: pointer">
                                                {% endif %}</div>
                                                <div class="l_cp">
                                                    <img class="sm_img"
                                                         src="{% static "img/icon-main-"|add:qs.icon_set|add:"-sp.png" %}">
                                                    <div>
                                                        {{ qs.short_desc }}
                                                    </div>
                                                </div>
                                                <div class="view_cnt">
                                                    <img class="view_cnt_ic"
                                                         src="{% static "img/ic_visibility.png" %}"> 28
                                                </div>
                                            </div>
                                            <div class="sm_s">
                                                <div class="sb_title">{{ qs.title }}</div>
                                                <div class="sb_due">{{ qs.apply_end|date:"Y n d "|calc_day }}
                                                    <span>{{ qs.is_past_due }} </span>
                                                         <span class="d_day">{{ qs.apply_end|date:"Y n d"|calc_d_day }}</span>
                                                </div>
                                                <div class="filter_con">
                                                    {% for f in qs.filter.all|slice:":8" %}
                                                        <span class="filter">{{ f.name }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="sm_t">
                                                {{ qs.user.department }}
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row gca_rec" style="margin-top: 60px;">
            <div class="y_row">
                <span>다른사람은 어떤 지원사업을 많이 봤을까요?</span>
            </div>
            <div class="container">
                <div class="sb_con" style="width: 1050px;">
                    {% for m in many_view %}
                        <a href="{{ m.get_absolute_url }}" class="sm_cd_a">
                            <div class="sm_cd">
                                <div class="sm_cd_hd">
                                    <span>{{ m.title|truncatechars:22 }}</span>
                                    <div class="int" data-id="{{ m.id }}">{% if m in interest %}
                                        <img
                                                src="{% static "img/icon-fav-full@2x.png" %}"
                                                style="width: 24px;cursor: pointer">
                                    {% else %}
                                        <img
                                                src="{% static "img/icon-fav-none.png" %}"
                                                style="width: 24px;cursor: pointer">
                                    {% endif %}</div>
                                </div>
                                <div class="sm_cd_con">
                                    <div class="sm_cd_cp">
                                        <img class="sm_img"
                                             src="{% static "img/icon-main-"|add:m.icon_set|add:"-sp.png" %}">
                                        <div class="sm_ttl">
                                            {{ m.short_desc }}
                                        </div>
                                    </div>
                                    <div class="sm_detail">
                                        <div class="sm_detail_hd">
                                            <img class="cal" src="{% static "img/ic-cal-dim.png" %}">
                                            <div class="due_date">{{ m.apply_end|date:"Y n d "|calc_day }}
                                                <span>{{ m.is_past_due }} </span>
                                               <span class="d_day">{{ m.apply_end|date:"Y n d"|calc_d_day }}</span></div>
                                            <div class="view_cnt">
                                                <img class="view_cnt_ic"
                                                     src="{% static "img/ic_visibility.png" %}">
                                                <div>{{ m.hit }}</div>
                                            </div>
                                        </div>
                                        <div class="sm_cd_filter_con">
                                            {% for f in m.filter.all|slice:":6" %}
                                                <span class="filter">{{ f.name }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="loc">
                                        {{ m.user.department }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row gca_rec" style="">
            <div class="y_row">
                <span>G-CONNECT가 추천하는 지원사업 입니다.</span>
            </div>
            <div class="container">
                <div class="sb_con" style="width: 1050px;">
                    {% for m in random %}
                        <a href="{{ m.get_absolute_url }}" class="sm_cd_a">
                            <div class="sm_cd">
                                <div class="sm_cd_hd">
                                    <span>{{ m.title|truncatechars:22 }}</span>
                                    <div class="int" data-id="{{ m.id }}">{% if m in interest %}
                                        <img
                                                src="{% static "img/icon-fav-full@2x.png" %}"
                                                style="width: 24px;cursor: pointer">
                                    {% else %}
                                        <img
                                                src="{% static "img/icon-fav-none.png" %}"
                                                style="width: 24px;cursor: pointer">
                                    {% endif %}</div>
                                </div>
                                <div class="sm_cd_con">
                                    <div class="sm_cd_cp">

                                        <img class="sm_img"
                                             src="{% static "img/icon-main-"|add:m.icon_set|add:"-sp.png" %}">

                                        <div class="sm_ttl">
                                            {{ m.short_desc }}
                                        </div>
                                    </div>
                                    <div class="sm_detail">
                                        <div class="sm_detail_hd">
                                            <img class="cal" src="{% static "img/ic-cal-dim.png" %}">
                                            <div class="due_date">{{ m.apply_end|date:"Y n d"|calc_day }}<span>{{ m.is_past_due }} </span>
                                                   <span class="d_day">{{ m.apply_end|date:"Y n d"|calc_d_day }}</span>
                                            </div>
                                            <div class="view_cnt">
                                                <img class="view_cnt_ic"
                                                     src="{% static "img/ic_visibility.png" %}">
                                                <div>{{ m.hit }}</div>
                                            </div>
                                        </div>
                                        <div class="sm_cd_filter_con">
                                            {% for f in m.filter.all|slice:":6" %}
                                                <span class="filter">{{ f.name }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="loc">
                                        {{ m.user.department }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        {#  비로그인 상태   #}

        <div class="container">
            <div id="cap">
                <div id="cap_text">
                    G-CONNECT에서 <span>회원가입</span>을 통해<br>
                    당신의 기업에게 맞는 지원사업을 찾아보세요.
                </div>
                <div id="signup_btn">회원가입하기</div>
            </div>
            <div id="main_dash">
                <div id="dash_content">
                    <div id="dash_hd">
                        <div id="text">누적지원금액</div>
                        <div id="scroll_num">
                            <span>\</span>
                            <span id="total_money">0</span>
                        </div>
                    </div>
                    <div id="dash_detail">
                        <div class="detail_seg">
                            <span> 전체 등록된 지원사업</span>
                            <span class='numscroller' data-min='1' data-max='1000' data-delay='5' data-increment='10'>1000</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

<script>

</script>

    {% endif %}
{% endblock %}