{% extends "pc/common/base_d.html" %}
{% load static %}
{% load custom_filter %}

{% block css %}
    <link rel="stylesheet/less" href="{% static "css/support.css" %}"/>
    <style>
    </style>
{% endblock %}
{% block content %}
    <script>
        function apply_sb() {
            $.ajax({
                url: '../../apply/',
                method: "post",
                data: {"val": "{{support.id}}"},
                success: function (data) {
                    alert("지원하였습니다.")
                },
                error: function (e) {
                    console.log(e)
                }
            })
        }

        $(document).ready(function () {
            {% if  request.resolver_match.url_name == "preview_pdf" %}
                $("#header , #rate, #ch-plugin").css("display", "none")
            {% endif %}

            {% if user.additionaluserinfo.auth != "4"   and   user.additionaluserinfo.auth != "5" %}
                $(".int").on("click", function () {
                    {% if user.is_authenticated %}
                        var target = this
                        $.ajax({
                            url: '../../add_interest/',
                            method: "post",
                            data: {"val": $(target).attr("data-id")},
                            success: function (data) {

                                if (data === "ok-add") {
                                    $("div[data-id='" + $(target).attr("data-id") + "']").find("img").attr("src", "{% static "img/icon-fav-full@2x.png" %}")
                                    alert("관심 목록에 등록되었습니다.");
                                }
                                else {
                                    $("div[data-id='" + $(target).attr("data-id") + "']").find("img").attr("src", "{% static "img/icon-fav-none.png" %}")
                                    alert("관심 목록에서 제외되었습니다.");
                                }
                                return false;
                            },
                            error: function (e) {
                                console.log(e)
                            }
                        })
                    {% else %}
                        alert("로그인 해주세요.")
                        return false;
                    {% endif %}
                })
            {% endif %}

            $(".opt").each(function () {
                if ($(this).html().trim() === "") {
                    $(this).parent().remove()
                }
            })
        })
    </script>
    <div class="container">
        <div id="brd_cumb">
            <a href="{% url "index" %}">홈</a> &gt; <a href="{% url "matching_business" %}">지원사업</a> &gt; <a id="final"
                                                                                                            href="#">상세
            보기</a>
        </div>
        <a class="sm_l_a ">
            <div class="sm_l">
                <div class="sm_f">

                    <div class="int" data-id="{{ support.id }}">

                        {% if support in interest %}
                            <img
                                    src="{% static "img/icon-fav-full@2x.png" %}"
                                    style="width: 24px;cursor: pointer">
                        {% else %}
                            <img
                                    src="{% static "img/icon-fav-none.png" %}"
                                    style="width: 24px;cursor: pointer">
                        {% endif %}


                    </div>
                    <div class="l_cp">
                        <img src="{% static "img/icon-main-"|add:support.icon_set|add:"-sp.png" %}">
                        <div>
                            {{ support.short_desc|default:"" }}
                        </div>
                    </div>
                    <div class="view_cnt">
                        <img class="view_cnt_ic"
                             src="{% static "img/ic_visibility.png" %}"> {{ support.hit }}
                    </div>
                </div>
                <div class="sm_s">
                    <div class="sb_title">{{ support.title|default:"" }}</div>
                    <div class="sb_due">{{ support.apply_end|date:"Y n d"|calc_day }}
                        <span>{{ support.is_past_due }} </span>
                    </div>
                    <div class="filter_con">
                        {% for f in support.filter.all|slice:":8" %}
                            <span class="filter">{{ f.name|default:"" }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="sm_t">
                    {{ support.user.department|default:"" }}
                </div>
            </div>
        </a>

        <div id="sp_detail_con">

            <div class="hash_tag_area detail_seg" style="color: #1b66f4;">
                <div class="detail_ttl" style="border-bottom: none"> {{ support.object_tag|default:"" }}</div>
            </div>
            <div class="detail_seg" style="margin-top: 15px;">
                <div class="detail_ttl">지원사업명 <span class="sh_de"> {{ support.title_tag|default:"" }}</span></div>
                <div class="desc">
                    {{ support.title | linebreaksbr }}
                </div>
            </div>

            {% if support.title_sub != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl">지원사업명(하위) <span class="sh_de"> {{ support.title_sub_tag|default:"" }}</span>
                    </div>
                    <div class="desc">
                        {{ support.title_sub| default:"" | linebreaksbr }}
                    </div>
                </div>
            {% endif %}


            <div class="detail_seg">
                <div class="detail_ttl">진행 기간</div>
                <div class="desc">
                    {{ support.business_period_start|date:"Y-m-d" }} ~ {{ support.business_period_end|date:"Y-m-d" }}
                </div>
            </div>


            {% if "place" in support.meta and support.place != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl">진행 장소</div>
                    <div class="desc">
                        {{ support.place| linebreaksbr }}
                    </div>
                </div>
            {% endif %}
            {% if "subject" in support.meta and support.subject != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl">사업목적 <span class="sh_de"> {{ support.subject_tag }}</span></div>
                    <div class="desc">
                        {{ support.subject|linebreaksbr }}
                    </div>
                </div>
            {% endif %}

            {% if "detail" in support.meta and support.business_detail != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl">사업내용 <span
                            class="sh_de"> {{ support.business_detail_tag|default:"" }}</span></div>
                    <div class="desc">
                        {{ support.business_detail | linebreaksbr }}
                    </div>
                </div>
            {% endif %}

            <div class="detail_seg">
                <div class="detail_ttl">모집기간</div>
                <div class="desc">
                    {{ support.apply_start|date:"Y-m-d H:i" }} 부터 ~ {{ support.apply_end|date:"Y-m-d H:i" }} 까지
                </div>
            </div>

            <div class="detail_seg">
                <div class="detail_ttl"> 모집대상<span class="sh_de"> </span></div>
                <div class="desc">
                    {{ support.object | linebreaksbr }}
                </div>
            </div>
            <style>
                .opt {
                    margin-top: 5px !important;
                }
            </style>

            <div class="detail_seg">
                <div class="detail_ttl"> 모집조건<span class="sh_de"> {{ support.condition_tag|default:"" }}</span></div>
                <div class="desc">
                    {{ support.condition| linebreaksbr }}
                </div>
                {% if "con0" in support.meta %}
                    <div style="margin-top: 15px;">
                        <div class="" style="margin-left: 10px;">기업 연차</div>
                        <div class="desc opt">
                            {% for f in support.filter.all %}
                                {% if f.cat_1 == "업력" %}
                                    <span class="filter">{{ f.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if "con1" in support.meta %}
                    <div style="margin-top: 15px;">
                        <div class="" style="margin-left: 10px;"> 구성원</div>
                        <div class="desc opt">
                            {% if employee_num == 0 %}제한없음
                            {% else %} {{ support.employee_num }}명{% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if "con2" in support.meta %}
                    <div style="margin-top: 15px;">
                        <div class="" style="margin-left: 10px;"> 주소지</div>
                        <div class="desc opt">
                            {% for f in support.filter.all %}
                                {% if f.cat_1 == "소재지" %}
                                    <span class="filter">{{ f.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if "con3" in support.meta %}
                    <div style="margin-top: 15px;">
                        <div class="" style="margin-left: 10px;"> 형태</div>
                        <div class="desc opt">
                            {% for f in support.filter.all %}
                                {% if f.cat_1 == "기업형태" %}
                                    <span class="filter">{{ f.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if "con4" in support.meta %}
                    <div style="margin-top: 15px;">
                        <div class="" style="margin-left: 10px;"> 제품단계</div>
                        <div class="desc opt">
                            {% for f in support.filter.all %}
                                {% if f.cat_1 == "기업단계" %}
                                    <span class="filter">{{ f.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            {% if "con5" in support.meta and support.condition_etc|default:"" != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl"> 모집조건 - 기타<span
                            class="sh_de"> {{ support.condition_etc_tag|default:"" }}</span></div>
                    <div class="desc">
                        {{ support.condition_etc| linebreaksbr }}
                    </div>
                </div>
            {% endif %}
            <div class="detail_seg">
                <div class="detail_ttl"> 모집분야<span class="sh_de"> {{ support.object_span_tag|default:"" }}</span></div>
                <div class="desc">
                    {{ support.object_span| linebreaksbr }}
                </div>

                {% if "kind0" in support.meta %}
                    <div>
                        <div class="" style="margin-left: 10px;"> 기본장르</div>
                        <div class="desc opt">
                            {% for f in support.filter.all %}
                                {% if f.cat_0 == "기본장르" %}
                                    <span class="filter">{{ f.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if "kind1" in support.meta %}
                    <div style="margin-top: 15px;">
                        <div class="" style="margin-left: 10px;"> 특수장르</div>
                        <div class="desc opt">
                            {% for f in support.filter.all %}
                                {% if f.cat_0 == "영역" %}
                                    <span class="filter">{{ f.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if "kind2" in support.meta and support.kind2_text != "" %}
                    <div class="" style="margin-left: 10px;"> 기타</div>
                    <div class="desc">
                        {{ support.kind2_text| linebreaksbr }}
                    </div>
                {% endif %}


            </div>

            <div class="detail_seg">
                <div class="detail_ttl"> 모집규모</div>
                <div class="desc p">
                    {{ support.recruit_size| default:""| linebreaksbr }} 팀 내외
                </div>
            </div>
            <style>
                .p p {
                    display: inline-block;
                }
            </style>
            {% if "prefer" in support.meta and support.prefer|default:"" != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl"> 우대사항<span class="sh_de"> {{ support.prefer_tag|default:"" }}</span></div>
                    <div class="desc">
                        {{ support.prefer| linebreaksbr }}
                    </div>
                </div>
            {% endif %}

            {% if "constraint" in support.meta and support.constraint|default:"" != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl"> 제한사항<span class="sh_de"> {{ support.constraint_tag|default:"" }}</span>
                    </div>
                    <div class="desc">
                        {{ support.constraint| linebreaksbr }}
                    </div>
                </div>
            {% endif %}


            <div class="detail_seg">
                <div class="detail_ttl"> 1차 선정 방법<span class="sh_de"> {{ support.pro_0_choose_tag|default:"" }}</span>
                </div>
                <div class="desc">
                    {{ support.pro_0_choose| linebreaksbr }}
                </div>
            </div>

            <div class="detail_seg">
                <div class="detail_ttl"> 1차 심사 일정</div>
                <div class="desc">
                    {{ support.pro_0_start|date:"Y-m-d" }} ~ {{ support.pro_0_end|date:"Y-m-d" }}
                </div>
            </div>
            <div class="detail_seg">
                <div class="detail_ttl"> 1차 발표 일정</div>
                <div class="desc">
                    {{ support.pro_0_open|date:"Y-m-d" }}
                </div>
            </div>

            <div class="detail_seg">
                <div class="detail_ttl"> 1차 심사기준<span class="sh_de"> {{ support.pro_0_criterion_tag|default:"" }}</span>
                </div>
                <div class="desc">
                    {{ support.pro_0_criterion| linebreaksbr }}
                </div>
            </div>

            {% if "pro_1" in support.meta and support.pro_1_choose|default:"" != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl"> 2차 선정 방법<span
                            class="sh_de"> {{ support.pro_1_choose_tag|default:"" }}</span></div>
                    <div class="desc">
                        {{ support.pro_1_choose| linebreaksbr }}
                    </div>
                </div>

                <div class="detail_seg">
                    <div class="detail_ttl"> 2차 심사 일정</div>
                    <div class="desc">
                        {{ support.pro_1_start|date:"Y-m-d" }} ~ {{ support.pro_1_end|date:"Y-m-d" }}
                    </div>
                </div>
                <div class="detail_seg">
                    <div class="detail_ttl"> 2차 발표 일정</div>
                    <div class="desc">
                        {{ support.pro_1_open|date:"Y-m-d" }}
                    </div>
                </div>
                <div class="detail_seg">
                    <div class="detail_ttl"> 2차 심사기준<span
                            class="sh_de"> {{ support.pro_1_criterion_tag|default:"" }}</span></div>
                    <div class="desc">
                        {{ support.pro_1_criterion| linebreaksbr }}
                    </div>
                </div>
            {% endif %}

            {% if "pro_2" in support.meta and support.pro_2_choose|default:"" != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl"> 3차 선정 방법<span
                            class="sh_de"> {{ support.pro_2_choose_tag|default:"" }}</span></div>
                    <div class="desc">
                        {{ support.pro_2_choose| linebreaksbr }}
                    </div>
                </div>

                <div class="detail_seg">
                    <div class="detail_ttl"> 3차 심사 일정</div>
                    <div class="desc">
                        {{ support.pro_2_start|date:"Y-m-d" }} ~ {{ support.pro_2_end|date:"Y-m-d" }}
                    </div>
                </div>
                <div class="detail_seg">
                    <div class="detail_ttl"> 3차 발표 일정</div>
                    <div class="desc">
                        {{ support.pro_2_open|date:"Y-m-d" }}
                    </div>
                </div>
                <div class="detail_seg">
                    <div class="detail_ttl"> 3차 심사기준<span
                            class="sh_de"> {{ support.pro_2_criterion_tag|default:"" }}</span></div>
                    <div class="desc">
                        {{ support.pro_2_criterion| linebreaksbr }}
                    </div>
                </div>
            {% endif %}

            <div class="detail_seg">
                <div class="detail_ttl"> 지원내용<span class="sh_de"> {{ support.supply_content_tag|default:"" }}</span>
                </div>
                <div class="desc">
                    {{ support.supply_content| linebreaksbr }}
                </div>
            </div>

            {% if "supply_condition" in support.meta and support.supply_condition|default:"" != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl"> 지원 조건<span class="sh_de"> {{ support.supply_condition_tag }}</span></div>
                    <div class="desc">
                        {{ support.supply_condition| linebreaksbr }}
                    </div>
                </div>
            {% endif %}

            {% if "ceremony" in support.meta and support.ceremony_start|default:"" != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl">행사일정</div>
                    <div class="desc">
                        {{ support.ceremony_start|date:"Y-m-d" }} ~ {{ support.ceremony_end|date:"Y-m-d" }}
                    </div>
                </div>
            {% endif %}

            {% if "faq_only" in support.meta and  support.faq|default:"" != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl"> FAQ<span class="sh_de"> {{ support.faq_tag|default:"" }}</span></div>
                    <div class="desc">
                        {{ support.faq| linebreaksbr }}
                    </div>
                </div>
            {% endif %}

            {% if "additional_faq" in support.meta and support.additional_faq|default:"" != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl"> 추가문의처</div>
                    <div class="desc">
                        {{ support.additional_faq| linebreaksbr }}
                    </div>
                </div>
            {% endif %}


            <div class="detail_seg">
                <div class="detail_ttl"> 주관기관 담당부서 및 담당자</div>
                <div class="desc">
                    <table>
                        <tr>
                            <th>
                                주관기관
                            </th>
                            <td>
                                {{ support.user.department| linebreaksbr }}
                            </td>
                            <th>
                                담당부서
                            </th>
                            <td>
                                {{ support.user.belong_to| linebreaksbr }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                전화번호
                            </th>
                            <td>
                                {{ support.user.tel| linebreaksbr }}
                            </td>
                            <th>
                                담당자 메일
                            </th>
                            <td>
                                {{ support.user.user.username| linebreaksbr }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                담당자명
                            </th>
                            <td>
                                {{ support.user.name| linebreaksbr }}
                            </td>
                            <th>
                                홈페이지URL
                            </th>
                            <td>
                                {{ support.user.web| linebreaksbr }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            {% if support.etc|default:"" != "" %}
                <div class="detail_seg">
                    <div class="detail_ttl"> 기타</div>
                    <div class="desc">
                        {{ support.etc| linebreaksbr }}
                    </div>
                </div>
            {% endif %}

            <div id="file_form" style="margin-top: 46px;">

                <div class="detail_seg">
                    <div id="detail_ttl"
                         style="font-weight: normal;    margin-top: 20px;    width: 930px;   border-bottom: 1px solid #ced4da;   font-size: 15px;   height: 38px;   line-height: 38px;   font-weight: normal;  ">
                        제출서류

                    </div>
                </div>
                <style>
                    .file_img {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }

                    .file_name {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }

                    .file_seg > table > tbody > tr > td:nth-child(1) {
                        padding-left: 10px;
                        width: 40px;
                    }
                </style>
                <div class="file_seg">
                    <table style=" width: 920px;  margin-left: 53px;">
                        {% if "ir_file" in support.meta %}
                            <tr>
                                <td class="file_img">
                                    <img src="{% static "img/icon-attachment@2x.png" %}"
                                         style="width:18px;">
                                </td>
                                <td class="file_name">
                                    사업계획서
                                </td>
                                <td class="file_input">
                                    {{ form.ir_file }}
                                </td>
                            </tr>
                        {% endif %}

                        {% if "business_file" in support.meta %}
                            <tr>
                                <td class="file_img">
                                    <img src="{% static "img/icon-attachment@2x.png" %}"
                                         style="width:18px;">
                                </td>
                                <td class="file_name">
                                    사업자 등록증
                                </td>
                                <td class="file_input">
                                    {{ form.business_file }}
                                </td>
                            </tr>
                        {% endif %}

                        {% if "tax_file" in support.meta %}
                            <tr>
                                <td class="file_img">
                                    <img src="{% static "img/icon-attachment@2x.png" %}"
                                         style="width:18px;">
                                </td>
                                <td class="file_name">
                                    국세/지방세 납입증
                                </td>
                                <td class="file_input">
                                    {{ form.tax_file }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if "fund_file" in support.meta %}
                            <tr>
                                <td class="file_img">
                                    <img src="{% static "img/icon-attachment@2x.png" %}"
                                         style="width:18px;">
                                </td>
                                <td class="file_name">
                                    투자유치 증빙서류
                                </td>
                                <td class="file_input">
                                    {{ form.fund_file }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if "ppt_file" in support.meta %}
                            <tr>
                                <td class="file_img">
                                    <img src="{% static "img/icon-attachment@2x.png" %}"
                                         style="width:18px;">
                                </td>
                                <td class="file_name">
                                    발표 심사 PT 자료
                                </td>
                                <td class="file_input">
                                    {{ form.ppt_file }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if "etc_file" in support.meta %}
                            <tr>
                                <td class="file_img">
                                    <img src="{% static "img/icon-attachment@2x.png" %}"
                                         style="width:18px;">
                                </td>
                                <td class="file_name">
                                    {{ support.etc_file_title }}
                                </td>
                                <td class="file_input">
                                    {{ form.etc_file }}
                                </td>
                            </tr>
                            <tr style="border-bottom: 1px solid #ddd">
                                <td style="height: 10px;"></td>
                                <td colspan="2" style=" color: red ; vertical-align: top; height: 10px;">
                                    해당 파일은 압축하여 1개의 파일로 업로드 하세요.
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>


            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', {'packages': ['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {

                    var data_date = {{ date_arr|safe }}
                        data_date = data_date.reverse()
                    var hit_set = [{% for hit in hitlog  reversed %}"{{ hit }}",{% endfor %}]
                    var app_set = [{% for hit in applog  reversed %}"{{ hit }}",{% endfor %}]


                    var data_origin = [
                        ['일자', '뷰수',],
                    ]

                    var data_origin2 = [
                        ['일자', '지원자 수',],
                    ]
                    for (var k = 0; k < 29; k++) {
                        var seg = []
                        seg.push(data_date[k])
                        seg.push(parseInt(hit_set[k]))
                        data_origin.push(seg)
                    }


                    for (var k = 0; k < 29; k++) {
                        var seg = []
                        seg.push(data_date[k])
                        seg.push(parseInt(app_set[k]))
                        data_origin2.push(seg)
                    }


                    var options = {
                        vAxis: {minValue: 0}
                    };

                    var data2 = google.visualization.arrayToDataTable(data_origin2);
                    var chart2 = new google.visualization.ComboChart(document.getElementById('app_gr_1'));
                    chart2.draw(data2, options);


                    var data = google.visualization.arrayToDataTable(data_origin);
                    var chart = new google.visualization.ComboChart(document.getElementById('app_gr_2'));
                    chart.draw(data, options);


                    var data2 = google.visualization.arrayToDataTable([
                        ['날짜', '페이지 뷰 수'],
                        {% for k,v in hit_day_arr_rel_sb   %}
                            ['{{ k }}', {{ v }}],
                        {% endfor %}
                    ]);
                    var options = {};
                    var chart1_1 = new google.visualization.ComboChart(document.getElementById('rel_page'));
                    chart1_1.draw(data2, options)

                    var data3 = google.visualization.arrayToDataTable([
                        ['날짜', '지원 수'],
                        {% for k,v in app_dat_rel_sb   %}
                            ['{{ k }}', {{ v }}],
                        {% endfor %}
                    ]);
                    var options = {};
                    var chart1_2 = new google.visualization.ComboChart(document.getElementById('rel_app'));
                    chart1_2.draw(data3, options)


                    var data = google.visualization.arrayToDataTable([
                        ['필터 항목', '선택 수'],
                        {% for k,v in win_dict.items %}
                            ['{{ k }}', {{ v }}],
                        {% endfor %}
                    ]);
              var options = {legend: 'none', pieSliceText: 'label',width:300, pieSliceTextStyle:{ fontSize:10 }};
                    var chart = new google.visualization.PieChart(document.getElementById('win_piechart_0'));
                    chart.draw(data, options);


                    var data = google.visualization.arrayToDataTable([
                        ['필터 항목', '선택 수'],
                        {% for k,v in win_case_dict.items %}
                            ['{{ k }}', {{ v }}],
                        {% endfor %}
                    ]);
                 var options = {legend: 'none', pieSliceText: 'label',width:300, pieSliceTextStyle:{ fontSize:12 }};
                    var chart = new google.visualization.PieChart(document.getElementById('win_piechart_1'));
                    chart.draw(data, options);

                             var data = google.visualization.arrayToDataTable([
                        ['필터 항목', '선택 수'],
                        {% for k,v in win_local_dic.items %}
                            ['{{ k }}', {{ v }}],
                        {% endfor %}
                    ]);
                    var options = {legend: 'none', pieSliceText: 'label',width:300, pieSliceTextStyle:{ fontSize:12 }};
                    var chart = new google.visualization.PieChart(document.getElementById('win_piechart_2'));
                    chart.draw(data, options);
                }
            </script>

            <div class="detail_seg" style="overflow: visible">
                <div class="detail_ttl">해당 사업의 지원현황 및 페이지 뷰</div>
                <div id="cp_0"
                     style="float: none; width:100px; height:30px; margin-top: 30px;position: relative; z-index: 999">
                    지원자수
                </div>
                <div id="app_gr_1" style="width: 950px; height: 260px; margin-left: 0px ; margin-top: -32px; "></div>
                <div id="cp_0"
                     style="float: none; width:100px; height:30px; margin-top: 30px;position: relative; z-index: 999">
                    페이지 뷰수
                </div>
                <div id="app_gr_2" style="width: 950px; height: 260px; margin-left: 0px ; margin-top: -32px;"></div>

            </div>
            {% if hit_log_rel_sb %}
            <div class="detail_seg" style="overflow: hidden">
                <div class="detail_ttl">과거 진행사업의 통계</div>
                <div id="cp_0"
                     style="float: none; width:400px; height:30px; margin-top: 30px;position: relative; z-index: 999">
                    지원자수:{{ total_app }} , 선정자수:{{ total_win }}
                </div>
                <div id="rel_app" style="width: 950px; height: 260px; margin-left: 0px ; margin-top: -32px; "></div>
                <div id="cp_0"
                     style="float: none; width:100px; height:30px; margin-top: 30px;position: relative; z-index: 999">
                    페이지 뷰수:{{ total_view }}
                </div>
                <div id="rel_page" style="width: 950px; height: 260px; margin-left: 0px ; margin-top: -32px;"></div>
                <div style="width: 100%">
                <div style="width: 300px; height: 300px; float: left"  id="win_piechart_0"></div>
                <div style="width: 300px; height: 300px; float: left;" id="win_piechart_1"></div>
                <div style="width: 300px; height: 300px; float: left;" id="win_piechart_2"></div>
</div>

            </div>
        {% endif %}

            <div style="width:100%; height: 100px; text-align: center">
                {% if support.is_past %}
                    <button style="background-color: #ddd; border: none; color:#fff; margin-left: 0px" id="apply">
                        모집 종료
                    </button>
                {% else %}
                    {% if user.is_authenticated %}
                        {% if user.startup %}
                            {% if status == "true" %}

                                {% if is_submit == True %}
                                    <div style="background-color: #bbbbbb; width: 214px;margin-left: 402px; cursor: default"
                                            id="apply" >
                                        이미 지원한 공고입니다.
                                    </div>
                                {% else %}
                                    <button style="margin-left: 0px;"
                                            onclick="location.href='{% url 'apply_edit' id=app sbid=support.id %}'"
                                            id="apply">
                                        지원서 수정하기
                                    </button>
                                {% endif %}
                            {% else %}
                                <button onclick="location.href='{% url 'apply'    id=support.id %}'" id="apply"
                                        style="margin-left: 0px;">지원하기
                                </button>
                            {% endif %}
                        {% elif user.additionaluserinfo.auth == "4" or  user.additionaluserinfo.auth == "5" %}
                            {% if  request.resolver_match.url_name != "preview" and  request.resolver_match.url_name != "preview_pdf" %}
                                {% if request.user.additionaluserinfo == support.user or  user.additionaluserinfo.auth == "5" %}
                                    <button onclick="modify(0);" id="apply"
                                            style=" margin-left: 0px;">
                                        수정
                                    </button>
                                    <script>
                                        function modify(num) {
                                            var r = confirm("수정을 할 경우 다시 승인 절차를 거쳐야 합니다. 진행하시겠습니까?")
                                            if (r === true) {
                                                $.ajax({
                                                    url: '/stop/',
                                                    method: "post",
                                                    data: {"id": "{{support.id}}"},
                                                    success: function (data) {
                                                        alert("수정페이지로 이동합니다. 수정후 결제 승인전까지 공고문은 블라인드 처리됩니다.")
                                                        location.href = '{% url  'sb_edit' id=support.id %}'
                                                    },
                                                    error: function (e) {
                                                        console.log(e)
                                                    }
                                                })
                                            }
                                        }

                                    </script>
                                    {% if  user.additionaluserinfo.auth == "5" %}
                                        {% if  support.is_blind == False and support.confirm != True %}
                                            <button onclick="blind(1)" id="apply" style=" margin-left: 10px;">블라인드처리
                                            </button>
                                            <script>
                                                function blind(num) {
                                                    $.ajax({
                                                        url: '/stop/',
                                                        method: "post",
                                                        data: {"id": "{{support.id}}"},
                                                        success: function (data) {
                                                            if (num == 0) {
                                                                alert("수정페이지로 이동합니다. 수정후 결제 승인전까지 공고문은 블라인드 처리됩니다.")
                                                            } else {
                                                                alert("블라인드 처리 되었습니다.")
                                                            }
                                                            location.href = '{% url  'sb_list_all' %}'
                                                        },
                                                        error: function (e) {
                                                            console.log(e)
                                                        }
                                                    })
                                                }
                                            </script>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if user.additionaluserinfo.auth == "5" and support.confirm == 1 or  user.additionaluserinfo.auth == "5" and support.is_blind == 1 %}
                                    <button onclick="accept()" id="apply"
                                            style=" margin-left: 10px;"> 승인하기
                                    </button>
                                    <script>
                                        function accept() {
                                            $.ajax({
                                                url: '/accept/',
                                                method: "post",
                                                data: {"id": "{{support.id}}"},
                                                success: function (data) {
                                                    alert("승인하였습니다. ")
                                                    location.href = '{% url  'sb_list_all' %}'
                                                },
                                                error: function (e) {
                                                    console.log(e)
                                                }
                                            })
                                        }
                                    </script>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <button onclick="location.href='{% url  'company_profile_new' %}'" id="apply"
                                    style="margin-left: 0px; width: 160px;">기업 정보 입력하기
                            </button>
                        {% endif %}
                    {% else %}
                        <button onclick="location.href='{% url  'signup' %}'" id="apply" style="margin-left: 0px;">
                            회원가입
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if  request.resolver_match.url_name == "preview" or request.resolver_match.url_name == "preview_pdf" %}
            <div style="width: 100px; height: 200px;"></div>
        {% endif %}
        {% if  request.resolver_match.url_name != "preview" and  request.resolver_match.url_name != "preview_pdf" and support.is_blind != 1 and support.confirm != 1 %}

            <div id="sm_sp">
                <div id="sm_ttl">비슷한 지원 사업 추천</div>
                <a class="sm_l_a " href="{% url "support" id=random.id %}">
                    <div class="sm_l">
                        <div class="sm_f">
                            <div class="int" data-id="{{ random.id }}">
                                {% if random in interest %}
                                    <img
                                            src="{% static "img/icon-fav-full@2x.png" %}"
                                            style="width: 24px;cursor: pointer">
                                {% else %}
                                    <img
                                            src="{% static "img/icon-fav-none.png" %}"
                                            style="width: 24px;cursor: pointer">
                                {% endif %}
                            </div>
                            <div class="l_cp">
                                <img src="{% static "img/icon-main-1-copy-2@2x.png" %}">
                                <div>
                                    {{ random.short_desc| default:"" }}
                                </div>
                            </div>
                            <div class="view_cnt">
                                <img class="view_cnt_ic"
                                     src="{% static "img/ic_visibility.png" %}"> {{ random.hit }}
                            </div>
                        </div>
                        <div class="sm_s">
                            <div class="sb_title">{{ random.title }}</div>
                            <div class="sb_due">{{ random.apply_end|date:"Y m d"|calc_day }}
                                <span>{{ random.is_past_due }} </span>
                            </div>
                            <div class="filter_con">
                                {% for f in random.filter.all|slice:":8" %}
                                    <span class="filter">{{ f.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="sm_t">
                            {{ random.user.department }}
                        </div>
                    </div>
                </a>
            </div>

        {% endif %}
    </div>
    <style>
        p {
            margin-bottom: 0px !important;
        }
    </style>
{% endblock %}