.show_static {
  float: right;
  width: 119px;
  height: 29px;
  border-radius: 17px;
  background-color: #ffffff;
  border: 1px solid #1b66f4;
  text-align: center;
  line-height: 29px;
  color: #1b66f4;
  font-size: 13px;
  margin-right: 14px;
  margin-top: -5px;
  cursor: pointer;
}
.export {
  float: right;
  width: 119px;
  height: 29px;
  border-radius: 17px;
  background-color: #ffffff;
  border: 1px solid #1b66f4;
  text-align: center;
  line-height: 29px;
  color: #1b66f4;
  font-size: 13px;
  margin-right: 14px;
  margin-top: -5px;
  cursor: pointer;
}
#applicant_list {
  margin-top: 30px;
  width: 1020px;
  height: auto;
  overflow: auto;
}
#applicant_list #applicant_hd,
#applicant_list #select_hd {
  border: 1px solid #ddd;
  width: 1020px;
  height: 50px;
}
#applicant_list #applicant_hd span,
#applicant_list #select_hd span {
  float: left;
  font-size: 20px;
  margin-top: 13px;
  margin-left: 38px;
}
#applicant_list #applicant_hd .upward,
#applicant_list #select_hd .upward {
  float: right;
  margin-top: 12px;
  margin-right: 18px;
  cursor: pointer;
}
#applicant_list #applicant_hd .total_download,
#applicant_list #select_hd .total_download {
  cursor: pointer;
  float: right;
  width: 135px;
  height: 29px;
  border-radius: 17px;
  color: #1b66f4;
  border: 1px solid #1b66f4;
  text-align: center;
  line-height: 29px;
  font-size: 13px;
  margin-top: 11px;
  margin-right: 10px;
}
#applicant_list #applicant_list_con,
#applicant_list #select_list_con {
  width: 1020px;
  border: 1px solid #ddd;
  margin-top: -1px;
}
#applicant_list #applicant_list_con table,
#applicant_list #select_list_con table {
  text-align: center;
}
#applicant_list #applicant_list_con table td,
#applicant_list #select_list_con table td,
#applicant_list #applicant_list_con table th,
#applicant_list #select_list_con table th {
  border: none;
}
#applicant_list_2 {
  margin-top: 30px;
  width: 1020px;
  height: auto;
  overflow: auto;
}
#applicant_list_2 #applicant_hd_2,
#applicant_list_2 #select_hd {
  border: 1px solid #ddd;
  width: 1020px;
  height: 50px;
}
#applicant_list_2 #applicant_hd_2 span,
#applicant_list_2 #select_hd span {
  float: left;
  font-size: 20px;
  margin-top: 13px;
  margin-left: 38px;
}
#applicant_list_2 #applicant_hd_2 .upward,
#applicant_list_2 #select_hd .upward {
  float: right;
  margin-top: 12px;
  margin-right: 18px;
  cursor: pointer;
}
#applicant_list_2 #applicant_hd_2 .total_download,
#applicant_list_2 #select_hd .total_download {
  cursor: pointer;
  float: right;
  width: 135px;
  height: 29px;
  border-radius: 17px;
  color: #1b66f4;
  border: 1px solid #1b66f4;
  text-align: center;
  line-height: 29px;
  font-size: 13px;
  margin-top: 11px;
  margin-right: 10px;
}
#applicant_list_2 #applicant_list_con_2,
#applicant_list_2 #select_list_con {
  width: 1020px;
  border: 1px solid #ddd;
  margin-top: -1px;
}
#applicant_list_2 #applicant_list_con_2 table,
#applicant_list_2 #select_list_con table {
  text-align: center;
}
#applicant_list_2 #applicant_list_con_2 table td,
#applicant_list_2 #select_list_con table td,
#applicant_list_2 #applicant_list_con_2 table th,
#applicant_list_2 #select_list_con table th {
  border: none;
}
.border-less th,
.border-less td {
  border: none !important;
  vertical-align: middle !important;
  text-align: center;
}
.apply_cnt {
  position: absolute;
  right: 64px;
  width: 55px;
  bottom: 5px;
}
#tp_btn {
  width: 1020px;
  height: 40px;
}
#tp_btn #back img {
  margin-top: 5px;
  cursor: pointer;
  width: 14px;
  height: 25px;
  float: left;
}
#tp_btn #edit {
  float: right;
  margin-top: 5px;
}
#tp_btn #edit img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
#tp_btn .export {
  float: right;
  width: 119px;
  height: 29px;
  border-radius: 17px;
  background-color: #ffffff;
  border: 1px solid #1b66f4;
  text-align: center;
  line-height: 29px;
  color: #1b66f4;
  font-size: 13px;
  margin-right: 14px;
  margin-top: 5px;
  cursor: pointer;
}
#tp_btn .show_static {
  float: right;
  width: 119px;
  height: 29px;
  border-radius: 17px;
  background-color: #ffffff;
  border: 1px solid #1b66f4;
  text-align: center;
  line-height: 29px;
  color: #1b66f4;
  font-size: 13px;
  margin-right: 14px;
  margin-top: 5px;
  cursor: pointer;
}
.down {
  color: #1b66f4;
  cursor: pointer;
}
#static {
  width: 1020px;
  margin-top: 130px;
}
#static #static_hd {
  width: 1020px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  margin-top: 5px;
  padding-bottom: 11px;
}
#static #static_content {
  position: relative;
}
#static #static_content #cp_0 {
  font-size: 20px;
  margin-top: 49px;
  float: left;
}
#static #static_content #cp_1 {
  float: left;
  margin-left: 200px;
  font-size: 20px;
  margin-top: 49px;
}
#pick_award {
  float: right;
  width: 135px;
  height: 29px;
  border-radius: 17px;
  background-color: #1b66f4;
  color: #fff;
  text-align: center;
  line-height: 29px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
#masking {
  position: absolute;
  z-index: 1000;
  background-color: rgba(43, 43, 43, 0.7);
  top: 0px;
  left: 0px;
}
.close_btn {
  cursor: pointer;
}
#pick_window {
  z-index: 9999;
  width: 1235px;
  height: 739px;
  background-color: #ffffff;
  position: absolute;
  top: 268px;
  left: 50%;
  margin-left: -617px;
  border: 1px solid #7a7a7a;
}
#wnd_content {
  clear: both;
  margin-left: 17px;
  margin-top: 9px;
  width: 1200px;
  height: 570px;
  border: 1px solid #ddd;
}
#wnd_content #wnd_hd {
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  height: 50px;
  padding-top: 12px;
  padding-left: 29px;
}
#complete {
  width: 137px;
  height: 40px;
  background-color: #1b66f4;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  margin-left: 500px;
  float: left;
  margin-top: 40px;
  cursor: pointer;
}
#cancel {
  cursor: pointer;
  border: 1px solid #1b66f4;
  width: 98px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: #1B66F4;
  float: left;
  margin-top: 40px;
  margin-left: 5px;
}
.total_download {
  cursor: pointer;
  float: right;
  width: 135px;
  height: 29px;
  border-radius: 17px;
  color: #1b66f4;
  border: 1px solid #1b66f4;
  text-align: center;
  line-height: 29px;
  font-size: 13px;
  margin-top: 11px;
  margin-right: 10px;
}
