#detail_top {
  width: 855px;
  float: left;
  text-align: center;
  margin-top: 40px;
  position: relative;
  margin-left: 15px;
}
#detail_top div#main {
  width: 121px;
  height: 121px;
  background-color: #d8d8d8;
  border-radius: 61px;
  display: inline-block;
}
#detail_top div#main img {
  width: 121px;
  height: 121px;
  border-radius: 61px;
}
#detail_top #edit_btn {
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 21px;
  margin-top: -62px;
  border: 1px solid #979797;
  top: 143px;
  left: 463px;
  position: absolute;
}
#detail_top #edit_btn form {
  width: 42px !important;
  margin-top: 0px !important;
}
#detail_top #edit_btn form img {
  width: 24px;
  height: 24px;
  margin: 9px;
  cursor: pointer;
}
#detail_top #edit_btn form input {
  display: none;
}
#detail_top #edit_btn img {
  width: 24px;
  height: 24px;
  margin: 9px;
  cursor: pointer;
}
#detail_top #name_ttl {
  font-size: 25px;
  font-weight: 500;
}
#detail_top #email_ttl {
  font-size: 15px;
}
#detail_top #basic_info {
  width: 855px;
  min-height: 82px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;
}
#detail_top #basic_info .filter {
  line-height: 12px;
  display: inline-block;
  height: 18px;
  font-size: 12px;
  cursor: pointer;
  padding: 3px 11px;
  border-radius: 20px;
  background-color: #e6e6e6;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
}
#detail_top .tag {
  border-radius: 17px;
  height: 15px;
  margin-left: 8px;
  color: #1b66f4;
  font-size: 15px;
}
#detail_top table {
  text-align: left;
  margin-top: 15px;
  width: 858px;
  border: 1px solid #ddd;
}
#detail_top table tr {
  border-bottom: 1px solid #dddddd;
  min-height: 40px;
}
#detail_top table tr th {
  padding-left: 14px;
  min-height: 40px;
  font-weight: normal;
  width: 90px;
}
#detail_top table tr td {
  min-height: 40px;
  padding: 5px;
  padding-left: 0px;
}
#detail_top table tr td .cat_label {
  width: 63px;
  display: inline-block;
}
#detail_top table tr td .filter {
  line-height: 12px;
  display: inline-block;
  height: 18px;
  font-size: 12px;
  cursor: pointer;
  padding: 3px 11px;
  border-radius: 20px;
  background-color: #e6e6e6;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
}
#detail_top table tr td .on {
  background-color: #1b66f4 !important;
  color: #fff !important;
}
form {
  display: block;
  margin-top: 16px;
  width: 855px;
}
form .form_ttl {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
  margin-top: 25px;
  width: 855px;
  position: relative;
  clear: both;
}
form .form_ttl span {
  float: right;
  font-size: 15px;
  color: #b9b9b9;
}
form .input_con {
  border: 1px solid #bfbfbf;
  width: 855px;
  min-height: 125px;
  padding: 25px;
}
form .input_con textarea {
  padding-left: 18px;
  padding-top: 8px;
  width: 805px;
  height: 76px;
  border-radius: 4px;
  background-color: #ffffff;
}
form #basic_info {
  text-align: left;
  padding-left: 40px;
  padding-top: 15px !important;
}
form #basic_info li {
  list-style: none;
  margin-bottom: 16px;
  height: auto;
  overflow: auto;
}
form #basic_info li label {
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  width: 101px;
}
form #basic_info li input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 282px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}
form #basic_info li div .address_con {
  margin-bottom: 5px;
}
form #basic_info li div .address_con .addy_title {
  width: 140px;
}
form #basic_info li div .address_con .addy {
  width: 250px;
}
form #basic_info li div .address_con .addy_detail {
  width: 180px;
}
form #basic_info li #em_con {
  display: inline-block;
  margin-left: -5px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 114px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  color: #bfbfbf;
}
form #basic_info li #em_con input {
  color: #2b2b2b;
  border: none;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 70px;
  height: 18px;
  border-radius: 4px;
  padding-top: 0px;
  text-align: center;
}
form #basic_info li #em_con input:focus {
  border: none;
  outline: none;
}
.em_agent {
  display: inline-block;
  margin-left: -5px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 200px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  color: #bfbfbf;
}
.em_agent input {
  color: #2b2b2b;
  border: none;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 180px;
  height: 18px;
  border-radius: 4px;
  padding-top: 0px;
  text-align: center;
}
.em_agent input:focus {
  border: none;
  outline: none;
}
.fu_y {
  width: 140px!important;
}
.fu_y input {
  color: #2b2b2b;
  border: none;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 120px!important;
  height: 18px;
  border-radius: 4px;
  padding-top: 0px;
  text-align: center;
}
.fu_y input:focus {
  border: none;
  outline: none;
}
#register {
  width: 179px;
  height: 40px;
  background-color: #1b66f4;
  line-height: 40px;
  color: #fff;
  border: none;
  margin-top: 40px;
  font-size: 18px;
}
#cert_email,
#find_address {
  text-align: center;
  line-height: 13px;
  padding: 8px 10px;
  height: 29px;
  border-radius: 17px;
  color: #1b66f4;
  border: 1px solid #1b66f4;
  display: inline-block;
  margin-left: 16px;
  cursor: pointer;
}
.edit_btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
}
#com_desc {
  text-align: left;
  font-size: 13px;
}
#ser {
  text-align: left;
  font-size: 13px;
}
#fund {
  text-align: left;
  font-size: 13px;
}
#seg_con {
  text-align: left;
  width: 855px;
  height: auto;
  overflow: auto;
}
#company_info_0 {
  width: 477px;
  margin-right: 15px;
  float: left;
}
#company_info_0 .form_seg_ttl {
  font-size: 20px;
  position: relative;
  width: 100%;
}
#company_info_0 #company_info_con {
  border: 1px solid #c8d7f4;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  width: 464px;
  min-height: 148px;
  margin-top: 16px;
}
#company_info_0 #company_info_con li {
  list-style: none;
  margin-bottom: 2px;
}
#company_info_0 #company_info_con li label {
  width: 90px;
  font-size: 13px;
  font-weight: normal;
}
#company_info_1 {
  float: left;
}
#company_info_1 .form_seg_ttl {
  font-size: 20px;
  position: relative;
  width: 100%;
}
#company_info_1 #map {
  margin-top: 10px;
}
#seg_con {
  margin-top: 30px;
}
#company_info_1 {
  width: 300px;
  float: left;
}
#int_sup table {
  margin-bottom: 50px;
}
#int_sup table tbody tr th {
  width: 100%;
  padding-top: 28px;
  padding-left: 39px;
  padding-bottom: 9px;
  font-size: 15px;
}
#int_sup table tbody tr td {
  padding-top: 23px;
  padding-left: 39px;
  padding-bottom: 54px;
}
.filter.on {
  background-color: #1b66f4 !important;
  color: #fff !important;
}
.filter {
  line-height: 12px;
  display: inline-block;
  height: 18px;
  font-size: 12px;
  cursor: pointer;
  padding: 3px 11px;
  border-radius: 20px;
  background-color: #e6e6e6;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
}
.view {
  text-align: left;
}
.view .filter {
  line-height: 12px;
  display: inline-block;
  height: 18px;
  font-size: 12px;
  cursor: pointer;
  padding: 3px 11px;
  border-radius: 20px;
  background-color: #c8d7f4;
  margin-top: 4px;
  margin-bottom: 8px;
  margin-right: 4px;
}
#modify_company_profile {
  margin-top: 40px;
  width: 179px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border: 1px solid #1b66f4;
  color: #1b66f4;
  background-color: #fff;
}
.y_alert {
  width: 855px;
  height: 47px;
  background-color: #ffe130;
  color: #2b2b2b;
  line-height: 47px;
  text-align: center;
}
.form_ttl_2 {
  margin-bottom: 10px;
  font-size: 15px;
  text-align: left;
  margin-top: 0px;
  width: 100%;
  position: relative;
  clear: both;
}
.form_ttl_2 span {
  float: right;
  font-size: 13px;
  color: #b9b9b9;
}
.input_con_2 {
  border: 1px solid #dddddd;
  width: 855px;
  min-height: 125px;
  padding: 15px;
  text-align: left;
  background-color: #fdfdfd;
}
.input_con_2 textarea {
  border: 1px solid #ced4da;
  padding-left: 18px;
  padding-top: 8px;
  width: 805px;
  height: 38px;
  border-radius: 4px;
  background-color: #ffffff;
}
.input_con_2 #id_short_desc {
  height: 38px;
}
.input_con_2 #id_desc {
  height: 149px;
}
.input_con_2 #id_service_products {
  height: 149px;
}
.hidden_data {
  width: 855px;
  min-height: 165px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin-top: 30px;
  text-align: left;
  padding: 20px;
}
.hidden_data .filter_con {
  min-height: 30px;
  width: 100%;
}
.hidden_data .filter_con .filter {
  background-color: #c8d7f4;
}
.hidden_data_cp {
  margin-top: -1px;
  width: 855px;
  height: 45px;
  padding-left: 20px;
  padding-top: 12px;
  text-align: left;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  color: #2b2b2b;
}
#fund {
  min-height: 60px;
  height: auto;
  padding-top: 15px;
}
.data_ttl {
  font-size: 15px;
}
#short_desc {
  padding-top: 20px;
  padding: 20px;
  min-height: 35px;
  width: 855px;
  border: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
  text-align: center;
  line-height: 35px;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 100;
}
.dy_add_ttl {
  font-size: 15px;
}
.reve table {
  border: none !important;
}
.reve table td {
  padding-left: 15px !important;
  border-left: none;
  border-right: none;
  height: 40px;
  font-size: 15px;
}
.em_con {
  display: inline-block;
  margin-left: -5px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 130px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  color: #bfbfbf;
}
.em_con input {
  color: #2b2b2b;
  border: none;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 70px;
  height: 18px;
  border-radius: 4px;
  padding-top: 0px;
  text-align: center;
}
.em_con input:focus {
  border: none;
  outline: none;
}
