#cp {
  margin-top: 137px;
  color: #2b2b2b;
  font-size: 40px;
  font-weight: 100;
  margin-left: 4px;
}
#cp span {
  color: #1b66f4;
  font-weight: 300;
}
#cp #social_login a {
  display: inline-block;
  width: 162px;
  height: 29px;
  border-radius: 17px;
  color: #1b66f4;
  border: 1px solid #1b66f4;
  font-size: 13px;
  text-align: center;
  line-height: 29px;
  margin-right: 29px;
}
#signup_content {
  width: 996px;
  margin: 60px auto;
  height: 465px;
  border-radius: 25px;
  border: 1px solid #dddddd;
  padding-left: 232px;
  padding-top: 18px;
}
#signup_content li:nth-child(2) {
  margin-top: 29px;
}
#signup_content li:nth-child(2) label {
  margin-bottom: 0px;
}
#signup_content li:nth-child(3) {
  margin-top: 23px;
}
#signup_content li:nth-child(3) label {
  margin-bottom: 0px;
}
#signup_content li:nth-child(4) {
  margin-top: 5px;
}
#signup_content li:nth-child(4) label {
  margin-bottom: 0px;
}
li {
  list-style: none;
}
li label {
  display: block;
  color: #2b2b2b;
  font-size: 15px;
  font-weight: 300;
}
li input {
  margin-top: 6px;
  width: 533px;
  height: 38px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding-left: 10px;
}
#submit_btn {
  width: 265px;
  height: 40px;
  background-color: #1b66f4;
  color: #fff;
  border: none;
  margin-left: 131px;
  margin-top: 50px;
}
