#brd_cumb {
  margin-top: 11px;
}
#search_menu_con {
  margin-top: 67px;
  width: 1020px;
  height: 49px;
  border: solid 1px #dddddd;
  clear: both;
  display: table;
}
#search_menu_con #search_cp {
  font-size: 13px;
  margin: 15px;
  width: 900px;
  float: left;
}
#search_menu_con .menu_item {
  float: left;
  width: 50px;
  margin: 21px;
  font-size: 15px;
  cursor: pointer;
}
#seach_text {
  float: right;
  margin-top: 13px;
  width: 214px;
  height: 34px;
  border-bottom: solid 1px #979797;
  font-size: 15px;
}
#seach_text input {
  height: 30px;
  width: 165px;
  margin: 2px;
  border: none;
  margin-left: 15px;
}
#seach_text input:focus {
  border: none !important;
  outline: none;
}
#seach_text div {
  cursor: pointer;
}
#startup_list {
  margin-top: 41px;
}
#startup_list .seg {
  margin-top: 8px;
  width: 1020px;
  min-height: 116px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
}
#startup_list .seg .seg_con {
  margin-top: 13px;
}
#startup_list .seg .seg_con .thumb {
  width: 192px;
  height: 95px;
  float: left;
  border-right: 1px solid #ddd;
}
#startup_list .seg .seg_con .thumb > img {
  margin-left: 51px;
  width: 90px;
  height: 90px;
  float: left;
}
#startup_list .seg .seg_con .text_con {
  margin-left: 38px;
  float: left;
}
#startup_list .seg .seg_con .text_con .startup_ttl {
  font-size: 20px;
  color: #2b2b2b;
}
#startup_list .seg .seg_con .text_con .startup_cap {
  font-size: 15px;
  color: #000 !important;
  font-weight: normal;
  margin-top: 4px;
}
#startup_list .seg .seg_con .text_con .tag_con {
  margin-top: 16px;
}
#startup_list .seg .seg_con .text_con .tag_con .filter {
  margin-right: 5px;
  padding: 1px 10px;
  border-radius: 10px;
  background-color: #c8d7f4;
  color: #2b2b2b;
  font-size: 12px;
}
#startup_list .seg .seg_con .text_con .tag_con .tag {
  padding: 2px 2px;
  color: #1b66f4 !important;
}
#search_cp .filter {
  line-height: 13px;
  display: inline-block;
  height: 18px;
  font-size: 13px;
  cursor: pointer;
  padding: 3px 11px;
  border-radius: 20px;
  background-color: #e6e6e6;
  margin-right: 4px;
}
#search_cp .on {
  background-color: #1b66f4 !important;
  color: #fff !important;
}
#down_btn {
  margin-top: 15px;
  float: right;
  margin-right: 15px;
}
#view_btn {
  float: right;
  width: 80px;
  height: 25px;
  margin-top: 13px;
}
#view_btn div {
  float: left;
  width: 28px;
  height: 28px;
  margin-right: 24px;
  text-align: center;
  cursor: pointer;
}
#view_btn #card {
  margin-right: 0px;
  text-align: center;
}
table {
  text-align: center;
  font-size: 13px;
  color: #2b2b2b;
}
table td {
  font-size: 13px;
}
table .num td {
  font-size: 15px !important;
  padding-top: 3px;
}
#filter_tbl {
  clear: both;
  margin-top: 67px;
  text-align: left;
  width: 1020px;
}
#filter_tbl tr {
  border: 1px solid #dddddd;
}
#filter_tbl tr th {
  width: 92px;
  vertical-align: top;
  padding-top: 10px;
  font-weight: normal;
  padding-left: 15px;
}
#filter_tbl tr td {
  min-height: 40px;
  padding: 5px;
  padding-left: 0px;
}
#filter_tbl tr td .cat_label {
  width: 65px;
  display: inline-block;
}
#filter_tbl tr td .filter {
  line-height: 13px;
  display: inline-block;
  height: 18px;
  font-size: 13px;
  cursor: pointer;
  padding: 3px 11px;
  border-radius: 20px;
  background-color: #e6e6e6;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
}
#filter_tbl tr td .on {
  background-color: #1b66f4 !important;
  color: #fff !important;
}
.st_cd {
  float: left;
  margin: 17px;
  display: block;
  width: 320px;
  height: 257px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}
.st_cd .cd_con {
  width: 320px;
  height: 257px;
}
.st_cd .cd_con .thumb {
  width: 100%;
  height: 124px;
  border-bottom: 1px solid #ddd;
}
.st_cd .cd_con .thumb img {
  width: 80px;
  height: 80px;
  margin-top: 25px;
  margin-left: 18px;
  float: left;
}
.st_cd .cd_con .thumb .startup_ttl {
  float: left;
  width: 222px;
  height: 18px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: normal;
  padding-left: 15px;
}
.st_cd .cd_con .text_con {
  height: 132px;
  width: 100%;
}
.st_cd .cd_con .text_con .startup_cap {
  width: 100%;
  padding-top: 8px;
  padding-left: 18px;
  padding-right: 18px;
  height: 50px;
}
.st_cd .cd_con .text_con .filter_con {
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.st_cd .cd_con .text_con .filter_con .filter {
  display: inline-block;
  margin-bottom: 3px;
  font-size: 12px;
  padding: 1px 10px;
  margin-right: 5px;
  background-color: #c8d7f4;
  border-radius: 10px;
}
.st_cd .cd_con .text_con .tag_con {
  padding-left: 18px;
}
.st_cd .cd_con .text_con .tag_con .tag {
  padding-top: 3px;
  color: #1b66f4;
  margin-right: 3px;
}
